@charset "utf-8";

/* Layout */
#mNav{
    display: none;
    position: absolute;
    top: 13px;
    right: 15px;
}
#header{
    width: 100%;
    border-bottom: 1px solid #c6c6c6;
}
#banner{
    width: 100%;
    position: relative;
}


/* container */
.container{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

/* row */
.row{
    padding: 0 28px;
}

/* 모바일 메뉴 */
.ham{
    display: block;
    width: 25px;
    height: 10px;
    padding: 15px 10px 10px 10px;
}
.ham span{
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background: #39106a;
}
.ham span::before{
    content: ' ';
    width: 25px;
    height: 4px;
    background: #39106a;
    position: absolute;
    left: 0;
    bottom: -7px;
}
.ham span::after{
    content: ' ';
    width: 25px;
    height: 4px;
    background: #39106a;
    position: absolute;
    left: 0;
    top: -7px;
}

/* header 영역 */
.header{
    display: flex;
    justify-content: space-between;
}
.header .logo .main-logo{
    display: inline-block;
    padding: 10px 9px 3px 0;
}
.header .logo .main-logo img{
    width: 155px;
}
.header .logo .sub-logo{
    display: block;
    position: absolute;
    left: 191px;
    top: 17px;
}
.header .logo .sub-logo img{
    width: 126px;
}


.header .gnb ul{
    display: flex;
    border-left: 1px solid #c6c6c6;
}
.header .gnb ul li{
    width: 103px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}
.header .gnb ul li a{
    display: inline-block;
    padding: 14px 14px;
    font-size: 17px;
    font-weight: bold;
    color: #444;
}


/* banner 영역 */
.banner-menu{
    z-index: 10;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
}
.banner-menu a{
    color: white;
    font-size: 16px;
    transition: color .3s;
}
.banner-menu a:hover{
    color: #c1c1c1;
}
.banner-menu .row{
    display: flex;
    justify-content: space-between;
}

.banner-menu .bm-left{
    padding-top: 10px;
}
.banner-menu .bm-left ul{
    display: flex;
}
.banner-menu .bm-left ul .total{
    border: 1px solid white;
    margin-right: 20px;
}
.banner-menu .bm-left ul .total i{
    padding-right: 2px;
}
.banner-menu .bm-left ul .total a{
    display: inline-block;
    font-size: 14px;
    padding: 3px 10px;
    transition: all .3s;
}
.banner-menu .bm-left ul .total a:hover{
    background-color: white;
    border-color: #000;
    color: #000;
}
.banner-menu .bm-left ul li{
    margin-right: 30px;
}

.banner-menu .bm-right{
    display: flex;
}
.banner-menu .bm-right ul{
    display: flex;
    padding-top: 7px;
}
.banner-menu .bm-right ul:first-child{
    padding-top: 10px;
}
.banner-menu .bm-right ul li{
    margin-right: 20px;
}
.banner-menu .bm-right ul .line{
    margin-right: 30px;
}
.banner-menu .line{
    position: relative;
}
.banner-menu .line::after{
    content: ' ';
    width: 1px;
    height: 14px;
    background-color: white;
    position: absolute;
    right: -18px;
    top: 6px;
}
.banner-menu .bm-right ul .white{
    margin-right: 10px;
}
.banner-menu .bm-right ul .white a{
    width: 80px;
    background-color: white;
    color:#3a036a;
    padding: 7px 30px 9px 30px;
    border: 1px solid #fff;
}
.banner-menu .bm-right ul .purple{
    margin-right: 0;
}
.banner-menu .bm-right ul .purple a{
    width: 80px;
    background-color:#3a0e6a;
    color:#fff;
    padding: 7px 30px 9px 30px;
    border: 1px solid #6340c4;
}

/* slide */
.slider{
    width: 100%;
    height: 500px;
}
.slider .ss1{
    background: url(../img/swiper01.jpg) no-repeat center center;
    background-size: cover;
}
.slider .ss2{
    background: url(../img/main_slider02_2000.jpg) no-repeat center center;
    background-size: cover;
}
.slider .ss3{
    background: url(../img/main_slider03_2000.jpg) no-repeat center center;
    background-size: cover;
}

.slider .swiper-slide .swiper-text{
    display: inline-flex;
    flex-direction: column;
}
.slider .swiper-slide .swiper-text h2{
    display: inline-block;
    position: relative;
    font-size: 60px;
    color: white;
    margin-top: 145px;
    line-height: 65px;
}
.slider .swiper-slide .swiper-text h2::after{
    content: ' ';
    width: 120%;
    height: 1px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    left: 0;
    bottom: -30px;
}
.slider .swiper-slide .swiper-text  h2 em{
    font-size: 59px;
    font-weight: 100;
    display: block;
}
.slider .swiper-slide .swiper-text p{
    font-size: 27px;
    color: white;
    padding-top: 50px;
}

/* movie */
.movie {padding: 100px 0;}
.movie .movie-tit {margin-bottom: 60px;}
.movie .movie-tit ul {display: flex; justify-content: center; width: 848px; margin: 0 auto;}
.movie .movie-tit ul li {width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-left: -1px;}
.movie .movie-tit ul li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie .movie-tit ul li.active {background: #666; color: white;}
.movie .movie-tit ul li.active a {color: white;}

.movie .movie-chart {height: 592px;}
.movie .movie-chart > div.active {display: flex;}
.movie .movie-chart > div {display: none;}
.movie .movie-chart > div > div {width: 292px; height: 592px; margin: 0 auto; margin-right: 15px;}
.movie .movie-chart > div > div:last-child{margin-right: 0;}
.movie .movie-chart > div .poster {position: relative;}
.movie .movie-chart > div .poster img {display: block;}
.movie .movie-chart > div .poster .rank {position: absolute; top: 17px; left: 0; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5); width: 50px; height: 50px;
line-height: 50px; background-color: #38116a; text-align: center;}
.movie .movie-chart > div .poster .rank strong {color: white; text-shadow: 2px 1px 3px rgba(0,0,0,0.8);}
.movie .movie-chart > div .poster .mx {position: absolute; top: 17px; right: 17px;}
.movie .movie-chart > div .poster .mx span{width: 103px; height: 25px; display: block;}
.movie .movie-chart > div .poster .mx .m{background-position: 0 -75px;}
.movie .movie-chart > div .poster .mx .b{background-position: 0 -100px;}

.movie .movie-chart > div .infor {background: white; padding: 17px; border: 1px solid #d9d9d9;}
.movie .movie-chart > div .infor h3 {color: #333; font-size: 30px; font-weight: 700; padding-bottom: 20px;}
.movie .movie-chart > div .infor h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -2px;}
.movie .movie-chart > div .infor h3 span.all{background-position: -87px -125px;}
.movie .movie-chart > div .infor h3 span.a12{background-position: 0px -125px;}
.movie .movie-chart > div .infor h3 span.a15{background-position: -29px -125px;}
.movie .movie-chart > div .infor h3 span.a19{background-position: -58px -125px;}
.movie .movie-chart > div .infor .infor-btn {display: flex; justify-content: space-between;}
.movie .movie-chart > div .infor .infor-btn a{display: inline-block; background: #f2f2f2; font-size: 18px; text-align: center; width: 49%; padding: 15px 0;}
.movie .movie-chart > div .infor .infor-btn a:first-child {margin-right: 2%;}


/* media query */
@media (max-width: 1290px){
    .container{width: 100%;}
    .header .gnb ul li{width: 93px;}
    .header .gnb ul li a{font-size: 15px; padding: 14px 10px;}
    .header .logo .main-logo{padding: 11px 8px 5px 0;}
    .header .logo .sub-logo{top: 19px;}
    .swiper-button-prev,
    .swiper-button-next{display: none;}
}

@media (max-width: 1024px){
    #mNav{display: block;} 
    .gnb{display: none;}
    .row{padding: 0 24px;}
    .header{justify-content: center; align-items: center;}
    .header .logo .sub-logo{left: 24px;}
    .banner-menu .bm-left{display: none;}
    .banner-menu .bm-right{margin-left: auto;}
    .banner-menu .bm-right ul:first-child{display: none;}
}

@media (max-width: 960px){
    .slider{height: 400px;}
    .slider .swiper-slide .swiper-text h2 {margin-top: 129px; font-size: 37px; line-height: 45px;}
    .slider .swiper-slide .swiper-text h2::after {bottom: -20px;}
    .slider .swiper-slide .swiper-text h2 em {font-size: 34px;}
    .slider .swiper-slide .swiper-text p {font-size: 16px; padding-top: 35px;}

    .movie .movie-chart > div > div:last-child {display: none;}
    .movie .movie-chart > div > div:nth-child(3) {margin-right: 0;}
    .movie .movie-chart > div .infor .infor-btn a {padding: 15px;}

}

@media (max-width: 768px){
    body {background: #d9d7e0;}

    #mNav{right: 8px;}
    .row{padding: 0 16px;}
    .header{justify-content: start;}
    .header .logo .sub-logo{display: none;}

    #movie .row {background-color: white; margin: 24px; padding: 24px;}
    #movie .ir_so {position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;}
    .movie {padding: 0;}
    .movie .movie-tit {margin-bottom: 30px;}
    .movie .movie-tit ul {position: relative; justify-content: start; width: auto; margin: 0; padding-bottom: 10px;}
    .movie .movie-tit ul::before { content: ' '; position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 2px; background: #e1e1e1;}
    .movie .movie-tit ul li {width: auto; border: none;}
    .movie .movie-tit ul li a {font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
    .movie .movie-tit ul li.active {background: none; color: #666;}
    .movie .movie-tit ul li.active a {position: relative; color: black;}
    .movie .movie-tit ul li.active a:before {content: ' '; position: absolute; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666; z-index: 2;}
    .movie .movie-chart > div > div:nth-child(3) {display: none;}
}

@media (max-width: 600px){
    .slider{height: 300px;}
    .slider .swiper-slide .swiper-text h2{margin-top: 90px; font-size: 24px; line-height: 30px;}
    .slider .swiper-slide .swiper-text h2::after{bottom: -12px;}
    .slider .swiper-slide .swiper-text h2 em{font-size: 22px;}
    .slider .swiper-slide .swiper-text p{font-size: 14px; padding-top: 25px;}
    .banner-menu{top: 16px;}
    .banner-menu .bm-right ul .white a{font-size: 14px; padding: 3px 5px 5px 5px; color: white; background: rgba(0,0,0,0.6); border-color: white;}
    .banner-menu .bm-right ul .purple a{font-size: 14px; padding: 3px 5px 5px 5px; color: white; background: rgba(0,0,0,0.6); border-color: white;}
    .swiper-pagination-bullet {width: 13px !important; height: 13px !important;}
}

@media (max-width: 480px){

}

@media (max-width: 320px){

}